<footer>
    <div class="jumbotron front-footer text-white" style="padding-top: 0">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2>PROCAMPUS</h2>
                </div>
                <div class="col-md-12 col-xs-12 text-center copy-right">
                    <p>&copy; COPYRIGHT BY SJTU 2018
                        <a href="https://github.com/taoxinyi/ProCampus"
                           style="margin-left:10px;color: rgb(191, 201, 211)">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://gitlab.com/taoxinyi/ProCampus"
                           style="margin-left:10px;color: rgb(191, 201, 211)">
                            <i class="fab fa-gitlab"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>