{% load staticfiles %}

<script>

    var FriendSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/friend/' + {{ myuser.id }} +'/');
    FriendSocket.onmessage = function (e) {
        var d = e.data;
        var arrayBuffer;
        var fileReader = new FileReader();
        fileReader.onload = function () {
            //when load as array buffer succeed
            arrayBuffer = this.result;
            //turn this buffer as uint8 array buffer
            var uint8Array = new Uint8Array(arrayBuffer);
            //load protobuf.js to decode
            protobuf.load("{% static "notification_message.proto" %}", function (err, root) {
                if (err)
                    throw err;
                var notification = root.lookupType("chat.Notification");
                //decode it to object
                var notificationDecoded = notification.decode(uint8Array);
                var l = notificationDecoded.notificationItem;
                for (var i = 0; i < l.length; i++) {
                    if (l[i].type === 0) {//request add friend
                        receive_request_add(l[i].fromClientName, l[i].fromClientId);
                    }
                    else if (l[i].type === 1) {//agree add friend
                        receive_agree_add(l[i].toClientName, l[i].toClientId);
                    }
                    else if (l[i].type === 2) {//agree add friend
                        receive_disagree_add(l[i].toClientName, l[i].toClientId);
                    }
                    else if (l[i].type === 3) {//request delete friend
                        receive_request_delete(l[i].fromClientName, l[i].fromClientId);
                    }

                }
            });

        };
        //read binary data (BLob) as array buffer
        fileReader.readAsArrayBuffer(d);
    };

    function receive_request_add(request_person, request_person_id) {
        var notification = new NotificationFx({
            request_username: request_person,
            request_user_id: request_person_id,
            request_user_imageUrl: '',
            message: ' is trying to be your friend',
            layout: 'attached',
            effect: 'bouncyflip',
            type: 'notice',// notice, warning or error
            message_type: "request_add_friend"
        });

        // show the notification
        notification.show();
        document.addEventListener("confirm_add_event", function (e) {
            protobuf.load("{% static "notification_message.proto" %}", function (err, root) {
                if (err)
                    throw err;
                var notificationItem = root.lookupType("chat.NotificationItem");
                //Somehow the first character of protobuf class name is converted to lower case.
                //default type is 0, no need to write.
                var payload = {type: 1, fromClientId: request_person_id, toClientId: {{ myuser.id }}};
                var message = notificationItem.create(payload);
                var buffer = notificationItem.encode(message).finish();
                FriendSocket.send(buffer);

            });
        });
        document.addEventListener("dismiss_add_event", function (e) {
            protobuf.load("{% static "notification_message.proto" %}", function (err, root) {
                if (err)
                    throw err;
                var notificationItem = root.lookupType("chat.NotificationItem");
                //Somehow the first character of protobuf class name is converted to lower case.
                //default type is 0, no need to write.
                var payload = {type: 2, fromClientId: request_person_id, toClientId: {{ myuser.id }}};
                var message = notificationItem.create(payload);
                var buffer = notificationItem.encode(message).finish();
                FriendSocket.send(buffer);

            });
        });

    }

    function receive_agree_add(reply_person, reply_person_id) {
        var notification = new NotificationFx({
            request_username: reply_person,
            request_user_id: reply_person_id,
            request_user_imageUrl: '',
            message: ' agrees to add you as friend"',
            layout: 'attached',
            effect: 'bouncyflip',
            type: 'notice'// notice, warning or error
        });

        // show the notification
        notification.show();
        var event = new CustomEvent("agree_add_event");
        event.reply_person_id = reply_person_id;

        // Dispatch/Trigger/Fire the event
        document.dispatchEvent(event);

    }

    function receive_disagree_add(reply_person, reply_person_id) {
        var notification = new NotificationFx({
            request_username: reply_person,
            request_user_id: reply_person_id,
            request_user_imageUrl: '',
            message: ' disagrees to add you as friend"',
            layout: 'attached',
            effect: 'bouncyflip',
            type: 'notice'// notice, warning or error
        });

        // show the notification
        notification.show();

    }

    function receive_request_delete(request_person, request_person_id) {
        var notification = new NotificationFx({
            request_username: request_person,
            request_user_id: request_person_id,
            request_user_imageUrl: '',
            message: ' deletes you as friend"',
            layout: 'attached',
            effect: 'bouncyflip',
            type: 'notice'// notice, warning or error
        });

        // show the notification
        notification.show();
        var event = new CustomEvent("delete_event");
        event.request_person_id = request_person_id;

        // Dispatch/Trigger/Fire the event
        document.dispatchEvent(event);

    }
</script>
<nav class="nav navbar-default">

    <div class="container-fluid">
        <div class="col-md-offset-1 col-md-10 col-sm-12">


            <div class="navbar-header">
                <img src="{% static 'image/logo.png' %} " width="168px" height="44px">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-weight" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="navbar-weight">

                <ul class="nav navbar-nav">

                    <li id="home-page"><a href="{% url 'homepage' %}">首页</a></li>
                    <li id="home-page"><a href="{% url 'question-add' %}">发布问题</a></li>
                    <li id="home-page"><a href="{% url 'friend-list' %}">好友列表</a></li>
                    <li id="home-page"><a href="/chat/">chat</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if myuser.user.is_authenticated %}
                        <li style="padding: 10px">{{ myuser.nickname }}</li>
                        <li>{% if user.myuser.photo %}
                            <a href="{% url 'personal-question' user.id %}"><img
                                    src="{% url 'media' myuser.photo %}" class="img-circle" width="30"
                                    height="30"></a>
                        {% else %}
                            {% if user.myuser.identity == 'T' %}
                                <img src="{% static 'image/default.png' %}" class="img-circle" width="30" height="30">
                            {% else %}
                                <img src="{% static 'image/default1.png' %}" class="img-circle" width="30"
                                     height="30">
                            {% endif %}
                        {% endif %}</li>
                        <li><a href="{% url 'user-logout' %}">注销</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'dashboard' %}">后台</a></li>
                        {% endif %}
                    {% else %}
                        <li id="login"><a href="{% url 'user-login' %}">登录</a></li>
                        <li id="login"><a href="{% url 'user-signup' %}">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    </div>

</nav>