aioredis==1.1.0

arrow==0.12.1

asgiref==2.3.0

async-timeout==2.0.1

attrs==18.1.0

autobahn==18.5.1

Automat==0.6.0

channels==2.1.1

channels-redis==2.2.0

chardet==2.3.0

command-not-found==0.3

constantly==15.1.0

daphne==2.1.1

Django==2.0.5

django-extensions==2.0.7

hiredis==0.2.0

hyperlink==18.0.0

idna==2.6

incremental==17.5.0

language-selector==0.1

msgpack==0.5.6

Pillow==9.0.1

protobuf==3.5.2.post1

pygobject==3.20.0

python-apt==1.1.0b1

python-dateutil==2.7.3

pytz==2018.4

requests==2.9.1

six==1.11.0

ssh-import-id==5.5

Twisted==18.4.0

txaio==2.10.0

ufw==0.35

urllib3==1.13.1

uWSGI==2.0.17

zope.interface==4.5.0
