{% extends 'website/frontend/frontend_base_nosearch.html' %}
{% load staticfiles %}
{% block title %}进入聊天室{% endblock %}
{% block external_header %}
{% endblock %}
{% block left %}

    <div class="article" style="margin-top: 20px">

        <h2 class="category-header">进入聊天室</h2>
        <div style="display: flex"><input id="room-name-input" type="text" class="form-control"
                                          style="width: auto;height: auto;flex:1 1 auto;" placeholder="输入你想进入的聊天室"/>
            <button id="room-name-submit" class="chatroom-submit-button"><i class="fas fa-paper-plane"></i><span
                    style="margin-left: 5px">进入</span></button>
        </div>
        <div><h4 class="category-header">你的好友正在如下聊天室</h4>
            {% for friend in friend_list %}

                {% if friend.chat_room.all %}
                    <div style="display: flex;justify-content: space-between">
                        <div class="parent">
                        <span class="l-child-list">
                        {% if friend.photo %}
                            <img src="{% url 'media' friend.photo %}" class="img-circle" width="40"
                                 height="40">
                        {% else %}
                            {% if friend.identity == 'T' %}
                                <img src="{% static 'image/default.png' %}" class="img-circle" width="40" height="40">
                            {% else %}
                                <img src="{% static 'image/default1.png' %}" class="img-circle" width="40" height="40">
                            {% endif %}
                        {% endif %}
                        </span>
                            <a href="{% url 'user-info' friend.user.id %}" class="r-child-list">
                                {{ friend.nickname }}
                            </a>
                        </div>
                        <div style="display: flex;flex-direction: column;justify-content: center">

                            {% for chat_room in friend.chat_room.all %}
                                <a href="{% url 'room'  chat_room.name|slice:"5:" %}">{{ chat_room.name|slice:"5:" }}</a>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>

    </div>
    <script>

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}

{% block front_js %}
{% endblock %}
{% block right %}
    {% include "website/frontend/sidebar.html" %}

{% endblock %}