{% extends 'website/frontend/frontend_base_nosearch.html' %}
{% load staticfiles %}

{% block external_header %}
{% endblock %}
{% block left %}
    <body>
    <style>
        span {
            max-width: 160px;
            display: block;
            text-align: left;
            word-wrap: break-word;
        }
    </style>
    <div style="height: 100%;">
        <div id="chat"
             style="border: 1px solid black;width: 90% ; height: 450px; overflow-y: scroll;margin: 10px auto;"></div>
        <div style="width: 90% ;margin: 10px auto;">
            <div style="display: flex">
                <div id="emoji">
                    <ul id="emoji_list" style="z-index: 999">
                        <div style="display:flex;background: lightgray;">
                        <span id="s1" onclick="changeTab('1')"
                              style="cursor: pointer;padding: 10px;background-color: white">QQ</span>
                            <span id="s2" onclick="changeTab('2')" style="cursor: pointer;padding: 10px">微博</span>
                            <span id="s3" onclick="changeTab('3')" style="cursor: pointer;padding: 10px">微信</span>
                            <span id="s4" onclick="changeTab('4')" style="cursor: pointer;padding: 10px">酷安</span>

                        </div>
                        <div style="margin-top: 5px">
                            <div id="content1" style="display: block;height:150px;overflow-y: auto">
                            </div>
                            <div id="content2" style="display: none;height:150px;overflow-y: auto">
                            </div>
                            <div id="content3" style="display: none;height:150px;overflow-y: auto">
                            </div>
                            <div id="content4" style="display: none;height:150px;overflow-y: auto">
                            </div>
                        </div>
                    </ul>
                    <img id="emoji_btn" class="emoji_btn" src="{% static "emoji/1_1.gif" %}" title="插入表情"/>
                </div>
                <div id="file_upload">
                    <img id="file_btn" src="{% static "image/file.png" %}" title="upload" width="30px"/>
                    <div id="file_box">
                        <div class="panel-heading">Transfer FIle</div>
                        <div class="panel-body">
                            <input type="file" id="file"/><br/>
                            <input type="button" value="中止" onclick="stop();"/>
                            <input type="button" value="继续" onclick="containue();"/>
                            <progress id="progressOne" style="width:100%;" max="100" value="0"></progress>
                            <p id="Status" style="word-break:break-all;"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="easyEditor"></div>
            <input id="chat-message-submit" type="button" value="Send"
                   style="float: right;top: -40px;position: relative;margin: 5px;"/>
            <br/>
        </div>
    </div>

    </body>
{% endblock %}

{% block right %}
    <div id="online_list">online user list</div>
{% endblock %}
{% block front_js %}
    <link rel="stylesheet" type="text/css" href="{% static "css/easyEditor.css" %}"/>
    <script src="{% static "js/easyEditor.min.js" %}"></script>
    <script>
        protobuf.load("{% static "chat_message.proto" %}", function (err, root) {
            if (err)
                throw err;
            var chatMessage = root.lookupType("chat.ChatMessage");
            var chatMessageItem = root.lookupType("chat.ChatMessageItem");
            var roomName = {{ room_name_json }};
            //establish WebSocket based on this specifc room name
            var chatSocket = new WebSocket(
                'ws://' + window.location.host +
                '/ws/chat/' + roomName + '/');
            //When the WebSocket received message
            chatSocket.binaryType = "arraybuffer";

            chatSocket.onmessage = function (e) {
                var arrayBuffer = e.data;

                //turn this buffer as uint8 array buffer
                var uint8Array = new Uint8Array(arrayBuffer);
                //decode it to object
                try {
                    var chatMessageDecoded = chatMessage.decode(uint8Array);
                } catch (e) {
                    if (e instanceof protobuf.util.ProtocolError) {
                        console.log("missing");
                    } else {
                        alert("The file is uploaded, but the protobuf.js " +
                            "library seems to struggle to parse protobuf message from the server.\n" +
                            "From what I can tell, it's the bug of this library and it may happen randomly.\n" +
                            "I apologize the inconvenience. \n" +
                            "This page will refresh automatically in order to load correctly.");
                        window.location.reload();
                    }
                }
                var type = chatMessageDecoded.type;
                //Somehow the first character of protobuf class name is converted to lower case.
                var l = chatMessageDecoded.chatMessageItem;
                if (type === 0) {//CHAT_MESSAGE
                    if (chatMessageDecoded.currentClient.length !== 0) {//add current user list
                        var cl = chatMessageDecoded.currentClient;
                        for (var i = 0; i < cl.length; i++) {
                            addToList(cl[i].clientName, cl[i].clientId, cl[i].imageUrl);
                        }

                    }
                    for (i = 0; i < l.length; i++) {//add chat message
                        var isAuthor = l[i].clientId ==={{ user.id }};
                        addToChat(l[i].clientName, l[i].clientId, l[i].imageUrl,
                            convertToHtml(l[i].message), formatDate(l[i].timeStamp * 1000),
                            l[i].fileSize, l[i].fileName, l[i].fileUrl, isAuthor);

                    }
                } else if (type === 1) {
                    l = chatMessageDecoded.chatMessageItem[0];
                    var p = document.createElement("p");
                    p.innerText = l.clientName + " enters this room";
                    p.style.textAlign = "center";
                    document.getElementById("chat").appendChild(p);
                    addToList(l.clientName, l.clientId, l.imageUrl);

                } else if (type === 2) {
                    l = chatMessageDecoded.chatMessageItem[0];
                    p = document.createElement("p");
                    p.innerText = l.clientName + " has left this room";
                    p.style.marginTop = "70px";
                    p.style.textAlign = "center";
                    document.getElementById("chat").appendChild(p);
                    deleteFromList(l.clientId);

                }


            };
            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };

            //submit
            document.querySelector('#chat-message-submit').onclick = function (e) {
                var m = editor.getContent({
                    emojiSign: '|', //表情分隔符
                    blockSign: '%' //行块分隔符
                });
                if (m === "") return;
                m = delete_br(m);
                var id ={{ user.id }};
                //Somehow the first character of protobuf class name is converted to lower case.
                //default type is 0, no need to write.
                var payload = {clientId: id, message: m};
                var message = chatMessageItem.create(payload);
                var buffer = chatMessageItem.encode(message).finish();
                chatSocket.send(buffer);
                document.getElementById("easyEditor").innerHTML = "";
            };
            //below is to handle file upload
            var fileBox = document.getElementById('file');
            var reader = null;  //读取操作对象
            var step = 1024 * 2048;  //每次读取文件大小 ,字节数
            var cuLoaded = 0; //当前已经读取总数
            var file = null; //当前读取的文件对象
            var enableRead = true;//标识是否可以读取文件
            var total = 0;        //记录当前文件总字节数
            var startTime = null; //标识开始上传时间
            fileBox.onchange = function () {
                //获取文件对象
                file = this.files[0];
                total = file.size;
                if (total !== 0) {
                    console.info("文件大小：" + file.size);
                    bindReader();
                }

            };

            //绑定reader
            function bindReader() {
                cuLoaded = 0;
                startTime = new Date();
                enableRead = true;
                reader = new FileReader();
                //读取一段成功
                reader.onload = function (e) {
                    console.info('读取总数：' + e.loaded);
                    if (enableRead === false)
                        return false;
                    //根据当前缓冲区来控制客户端读取速度
                    /*if (chatSocket.bufferedAmount > step * 10) {
                        setTimeout(function () {
                            //继续读取
                            console.log('--------------》进入等待');
                            loadSuccess(e.loaded);
                        }, 3);
                    } else {
                        //继续读取
                        loadSuccess(e.loaded);
                    }*/
                    loadSuccess(e.loaded);
                };
                //开始读取
                readBlob();
            }

            //读取文件成功处理
            function loadSuccess(loaded) {
                //将分段数据上传到服务器
                var blob = reader.result;
                //使用WebSocket 服务器发送数据
                if (cuLoaded === 0) {
                    //发送文件名
                    //Somehow the first character of protobuf class name is converted to lower case.
                    //default type is 0, no need to write.
                    var payload = {fileName: file.name, fileSize: total};
                    var message = chatMessageItem.create(payload);
                    var buffer = chatMessageItem.encode(message).finish();
                    chatSocket.send(buffer);
                }
                chatSocket.send(blob);
                //如果没有读完，继续
                cuLoaded += loaded;
                if (cuLoaded < total) {
                    readBlob();
                } else {
                    console.log('总共上传：' + cuLoaded + ',总共用时：' + (new Date().getTime() - startTime.getTime()) / 1000);
                }
                //显示结果进度
                var percent = (cuLoaded / total) * 100;
                document.getElementById('Status').innerText = percent;
                document.getElementById('progressOne').value = percent;
            }

            //指定开始位置，分块读取文件
            function readBlob() {
                //指定开始位置和结束位置读取文件
                var blob = file.slice(cuLoaded, cuLoaded + step);
                reader.readAsArrayBuffer(blob);
            }

            //中止
            function stop() {
                //中止读取操作
                console.info('中止，cuLoaded：' + cuLoaded);
                enableRead = false;
                reader.abort();
            }

            //继续
            function containue() {
                console.info('继续，cuLoaded：' + cuLoaded);
                enableRead = true;
                readBlob();
            }
        });
        var editor = easyEditor('easyEditor');
        //表情
        var emojiBtn = document.getElementById('emoji_btn');
        var emojiBox = document.getElementById('emoji_list');
        //辦定事件添加表情
        for (i = 0; i < 59; i++) {
            var content1 = document.getElementById("content1");
            content1.innerHTML += "<li><img src=\"/static/emoji/1_" + i + ".gif\" ></li>"
        }
        for (i = 0; i < 80; i++) {
            var content1 = document.getElementById("content2");
            content1.innerHTML += "<li><img src=\"/static/emoji/2_" + i + ".png\" ></li>"
        }
        for (i = 0; i < 6; i++) {
            var content1 = document.getElementById("content3");
            content1.innerHTML += "<li><img src=\"/static/emoji/3_" + i + ".png\" ></li>"
        }
        for (i = 0; i < 108; i++) {
            var content1 = document.getElementById("content4");
            content1.innerHTML += "<li><img src=\"/static/emoji/4_" + i + ".png\" ></li>"
        }
        for (var j = 1; j < 5; j++) {
            var content = document.getElementById('content' + j);
            var emojiList = content.getElementsByTagName('img');
            for (var i = 0; i < emojiList.length; i++) {
                emojiList[i].alt = j + "_" + i;
                addEvent(emojiList[i], 'click', function () {
                    var src = this.getAttribute('src');
                    var alt = this.getAttribute('alt');
                    editor.insertEmoji({
                        src: src,
                        remark: alt
                    }); //添加表情
                });

            }
        }
        $("#easyEditor").keydown(function (event) {
            if (event.ctrlKey && event.which === 13) {
                editor.changeLine();
            }
        });
        addEvent(editor.editbox, 'keypress', function (event) {
            event = event || window.event;
            if (event.keyCode === 13) {
                if (event.preventDefault) {
                    event.preventDefault();
                    document.querySelector('#chat-message-submit').onclick();

                } else {
                    event.returnValue = false;
                }
            }


        });

        editor.editbox.onblur = function () {
            editor.restoreSaveRange();
        };

        //表情面板顯示
        addEvent(emojiBtn, 'click', function () {
            emojiBox.style.display = 'block';
        });
        //表情面板消失
        maskClick(emojiBox, function () {
            emojiBox.style.display = 'none';
        });

        var file_Btn = document.getElementById("file_btn");
        var file_Box = document.getElementById("file_box");
        addEvent(file_Btn, 'click', function () {
            file_Box.style.display = 'block';
        });
        maskClick(file_Box, function () {
            file_Box.style.display = 'none';
        });


        function maskClick(el, func) {
            var str = str == undefined ? 'maskClick' : str;
            addEvent(document, 'mouseup', function (event) {
                var event = event || window.event;
                var target = event.target;
                if (!isParent(target, el)) {
                    func && func();
                }
            });
        }

        function isParent(obj, parentObj) {
            while (obj != undefined && obj != null && obj.tagName != 'HTML' && obj.tagName.toUpperCase() != 'BODY') {
                if (obj == parentObj) {
                    return true;
                }
                obj = obj.parentNode;
            }
            return false;
        }

        //事件辦定
        function addEvent(element, type, callback) {
            if (element.addEventListener) {
                element.addEventListener(type, callback, false);
            } else if (element.attachEvent) {
                element.attachEvent('on' + type, callback)
            }
        }


        function convertToHtml(m) {
            return m.replace(/\|\d_(\d+)\|/g, function (match, group1) {
                var category = match[1];
                if (category === '1')
                    if (parseInt(group1) < 60 && parseInt(group1) >= 0)
                        return '<img src="/static/emoji/' + match.slice(1, -1) + '.gif" style="width:30px">';
                    else return match;
                else if (category === '2')
                    return '<img src="/static/emoji/' + match.slice(1, -1) + '.png" style="width:30px">';
                else if (category === '3')
                    return '<img src="/static/emoji/' + match.slice(1, -1) + '.png" style="width:30px">';
                else if (category === '4')
                    return '<img src="/static/emoji/' + match.slice(1, -1) + '.png" style="width:30px">';

            });


        }

        function changeTab(i) {
            for (var j = 1; j < 5; j++) {
                document.getElementById('content' + j).style.display = 'none';
                document.getElementById('s' + j).style.backgroundColor = 'lightgray';
            }
            document.getElementById('content' + i).style.display = 'block';
            document.getElementById('s' + i).style.backgroundColor = 'white';

        }

        function formatDate(date) {
            var d = new Date(date),
                month = (d.getMonth() + 1),
                day = d.getDate(),
                hour = d.getHours(),
                minute = '' + d.getMinutes(),
                second = '' + d.getSeconds();
            if (minute.length < 2) minute = '0' + minute;
            if (second.length < 2) second = '0' + second;

            return [month, day].join('-') + " " + [hour, minute, second].join(':')
        }

        function addToChat(author, author_id, imageUrl, text, time, file_size, file_name, file_url, isAuthor) {

            var a = document.createElement("a");
            a.href = "/forum/user/" + author_id ;
            var img = new Image();
            img.src = imageUrl;
            a.appendChild(img);
            var div_outside = document.createElement("div");
            div_outside.className = "div_outside_bubble";
            var div_img = document.createElement("div");
            var small = document.createElement("small");
            small.innerHTML = time;
            div_outside.appendChild(small);

            if (author_id !== 0)
                div_img.appendChild(a);
            else
                div_img.appendChild(img);

            var div_box = document.createElement("div");
            div_box.className = "box";

            var span_text = document.createElement("span");
            if (file_size > 0) {
                a = document.createElement("a");
                a.href = "/" + file_url;
                a.target = "_blank";
                if (file_name.match(/.(jpg|jpeg|png|gif)$/i)) {//is image, show directly
                    img = new Image();
                    img.src = "/" + file_url;
                    a.appendChild(img);
                } else
                    a.innerHTML = file_name + "(" + bytesToSize(file_size) + ")";
                span_text.appendChild(a);

            } else
                span_text.innerHTML = text;

            var p = document.createElement("p");
            p.className = "floattext";
            p.innerHTML = author;
            div_box.appendChild(p);

            if (isAuthor === false) {
                var div_left = document.createElement("div");
                div_left.className = "left";
                var div_left_tri = document.createElement("div");
                div_left_tri.className = "left_triangle";
                div_box.appendChild(div_left_tri);
                div_box.appendChild(span_text);
                p.style.left = "0";
                div_left.appendChild(div_img);
                div_left.appendChild(div_box);
                div_outside.appendChild(div_left)

            }
            else {
                small.style.cssFloat = "right";
                var div_right = document.createElement("div");
                div_right.className = "right";
                var div_right_tri = document.createElement("div");
                div_right_tri.className = "right_triangle";
                p.style.right = "5px";
                div_box.appendChild(div_right_tri);
                div_box.appendChild(span_text);

                div_right.appendChild(div_img);
                div_right.appendChild(div_box);


                div_outside.appendChild(div_right);
            }
            document.getElementById("chat").appendChild(div_outside);
            var div = document.getElementById("chat");
            div.scrollTop = div.scrollHeight - div.clientHeight;

        }

        function deleteFromList(id) {
            document.getElementById(id).parentNode.removeChild(document.getElementById(id));
            var div = document.getElementById("chat");
            div.scrollTop = div.scrollHeight - div.clientHeight;
        }

        function addToList(name, id, imageUrl) {
            if (!document.getElementById(id)) {//if not exist
                var div_list = document.getElementById("online_list");
                var div_list_item = document.createElement("div");
                div_list_item.className = "parent";
                div_list_item.id = id;
                var a = document.createElement("a");
                a.href = "/forum/question/user/" + id + "/list/";
                var img = new Image();
                img.style.width = "40px";
                img.src = imageUrl;
                a.className = "l-child";
                a.appendChild(img);
                var nickname = document.createElement("div");
                nickname.innerHTML = name;
                nickname.className = "r-child";
                div_list_item.appendChild(a);
                div_list_item.appendChild(nickname);
                div_list.appendChild(div_list_item);
                var div = document.getElementById("chat");
                div.scrollTop = div.scrollHeight - div.clientHeight;
            }
        }

        function bytesToSize(bytes) {
            if (bytes === 0) return '0 B';
            var k = 1024, // or 1024
                sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                i = Math.floor(Math.log(bytes) / Math.log(k));

            return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
        }

        //正则转换
        function htmlEncode(strHTML) {
            var strTem = "";
            if (strHTML.length == 0) return "";
            strTem = strHTML.replace(/&/g, "&gt;");
            strTem = strTem.replace(/</g, "&lt;");
            strTem = strTem.replace(/>/g, "&gt;");
            strTem = strTem.replace(/ /g, "&nbsp;");
            strTem = strTem.replace(/\'/g, "&#39;");
            strTem = strTem.replace(/\"/g, "&quot;");
            strTem = strTem.replace(/\n/g, "");
            return strTem;
        }

        function delete_br(m) {
            while (m.endsWith("<br>"))
                m = m.substring(0, m.length - 4);
            return m;
        }
    </script>

{% endblock %}
