{% extends 'website/frontend/frontend_base_nosearch.html' %}
{% load staticfiles %}
{% block title %}
发表的主题
{% endblock %}

{% block external_header %}

{% endblock %}

{% block left %}
    {% include 'utils/add_friend_script.html' %}
    {% include 'utils/assess_person.html' %}
    <div class="cell_tabs">
        <a href="{% url 'user-info' theuser.user.id %}" class="cell_tab">获得的评价</a>
        <a href="{% url 'personal-question' theuser.user.id %}" class="cell_tab_current">发表的主题</a>
        <a href="{% url 'personal-answer' theuser.user.id %}" class="cell_tab">回复的主题</a>
    </div>
    <div>
        {% if question_list %}
            {% for question in question_list %}
                <div class="block-container" style="display: flex;flex-direction: column;">
                    <div>

                        <h3><a href="{% url 'question-detail' question.id %}">{{ question.title }}</a></h3>

                    </div>
                    <div style="display: flex;align-items: stretch">
                        <a href="{% url 'category-question-list' question.category.id %}" style="margin: 0 15px 10px 0">
                            <span class="label label-default">
                                <span class="text-left">
                                    <span class="glyphicon glyphicon-tags" aria-hidden="true">
                                    </span>&emsp;{{ question.category }}
                                </span>
                            </span>
                        </a>
                        <span style="margin-right: 15px"><span
                                aria-hidden="true"></span>{{ question.publish_time|date:"Y-m-d" }}&nbsp;{{ question.publish_time|time:"H:i" }}
                        </span>
                        <span style="margin-right: 15px">回帖数：{{ question.answer_set.count }}</span>
                        <span style="margin-right: 15px">浏览次数：{{ question.show_times }}</span>


                    </div>


                </div>

            {% endfor %}
        {% else %}
            <div class="col-md-12 col-xs-12 article">
                <h3>暂无</h3>
            </div>
        {% endif %}
    </div>


    {% include 'utils/pagination.html' %}

{% endblock %}
{% block right %}
    {% include "website/frontend/sidebar.html" %}

{% endblock %}
