{% extends 'website/frontend/frontend_base.html' %}
{% load staticfiles %}

{% block title %}
    添加问题
{% endblock %}


{% block left %}
    <script type="text/javascript" src="{% static 'ueditor/ueditor.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/pretty-checkbox.min.css" %}"/>
    <div class="col-md-12 col-xs 12 article">
        <form class="form-horizontal" id="data-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">标题：</label>
                <div class="col-sm-9">
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">分类：</label>
                <div class="col-sm-9">
                    <select name="category" id="category" class="form-control">
                        {% for category in category_list %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inviting_person" class="col-sm-2 control-label">邀请：</label>
                <div class="col-sm-9">
                    <select name="inviting_person" id="inviting_person" class="form-control">
					<option value="">无</option>
                        {% for teacher in teacher_list %}
                            <option value="{{ teacher.id }}">{{ teacher.nickname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inviting_person" class="col-sm-2 control-label">是否置顶：</label>
                <div class="col-sm-9" style="margin-top: 10px">
                    <div class="pretty p-svg p-curve">
                        <input type="checkbox" name="is_top">
                        <div class="state p-success"><!-- svg path -->
                        <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                  style="stroke: white;fill:white;"></path>
                        </svg>
                        <label></label></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="ueditor_textarea_content" class="col-sm-2 control-label">内容：</label>
                <div class="col-sm-9">
                    <script id="id_content" name="content" style="display: inline-block;" type="text/plain"></script>
                    <script type="text/javascript">
                        var w = $('#id_content').parent().width;
                        var server_url = '/ueditor/controller/?imagePathFormat=forum/question/images/%(datetime)s%(rnd)s.%(extname)s&filePathFormat=forum/question/files/%(datetime)s%(rnd)s.%(extname)s';
                        var id_Content = UE.getEditor('id_content',{'initialFrameWidth': w, 'initialFrameHeight': 400, 'serverUrl': encodeURI(server_url)});
                        id_Content.ready(function(){});
                    </script>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3 col-sm-offset-6">
                    <input  type="submit" class="btn btn-info" id="submit-btn">
                </div>
                <input type="reset" name="reset" style="display: none;">
            </div>


        </form>
    </div>


{% endblock %}