{% load staticfiles %}

<div class="col-md-15">
    {% for question in question_list_top %}
        <div class="col-md-12 col-xs-12 article">
            <a href="{% url 'category-question-list' question.category.id %}"><span
                    class="label label-default"><span
                    class="text-left"><span class="glyphicon glyphicon-tags"
                                            aria-hidden="true"></span>&emsp;{{ question.category }}</span></span></a>
            <div>
                <h3>[置顶]<a href="{% url 'question-detail' question.id %}">{{ question.title }}</a></h3>
            </div>
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex; align-items:center">
                    {% if question.author.myuser.photo %}
                        <img src="{% url 'media' question.author.myuser.photo %}" class="img-circle" width="50"
                             height="50">
                    {% else %}
                        {% if question.author.myuser.identity == 'T' %}
                            <img src="{% static 'image/default.png' %}" class="img-circle" width="50" height="50">
                        {% else %}
                            <img src="{% static 'image/default1.png' %}" class="img-circle" width="50" height="50">
                        {% endif %}
                    {% endif %}
                    <div style="display:flex;flex-direction:column;justify-content:center">
                        <a href="{% url 'personal-question' question.author.id %}">{{ question.author.myuser.nickname }}</a>
                        <span aria-hidden="true"></span>{{ question.publish_time|date:"Y-m-d" }}&nbsp;{{ question.publish_time|time:"H:i" }}
                    </div>
                </div>
                <div style="display:flex;flex-direction:column;justify-content:center">
                    <p>回帖数:{{ question.answer_set.count }}<br>浏览数:{{ question.show_times }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for question in question_list %}
        <div class="col-md-12 col-xs-12 article">
            <a href="{% url 'category-question-list' question.category.id %}"><span
                    class="label label-default"><span
                    class="text-left"><span class="glyphicon glyphicon-tags"
                                            aria-hidden="true"></span>&emsp;{{ question.category }}</span></span></a>
            <div>
                <h3><a href="{% url 'question-detail' question.id %}">{{ question.title }}</a></h3>
            </div>
            <div style="display:flex;justify-content:space-between">
                <div style="display:flex; align-items:center">
                    {% if question.author.myuser.photo %}
                        <img src="{% url 'media' question.author.myuser.photo %}" class="img-circle" width="50"
                             height="50">
                    {% else %}
                        {% if question.author.myuser.identity == 'T' %}
                            <img src="{% static 'image/default.png' %}" class="img-circle" width="50" height="50">
                        {% else %}
                            <img src="{% static 'image/default1.png' %}" class="img-circle" width="50" height="50">
                        {% endif %}
                    {% endif %}
                    <div style="display:flex;flex-direction:column;justify-content:center">
                        <a href="{% url 'personal-question' question.author.id %}">{{ question.author.myuser.nickname }}</a>
                        <span aria-hidden="true"></span>{{ question.publish_time|date:"Y-m-d" }}&nbsp;{{ question.publish_time|time:"H:i" }}
                    </div>
                </div>
                <div style="display:flex;flex-direction:column;justify-content:center">
                    <p>回帖数:{{ question.answer_set.count }}<br>浏览数:{{ question.show_times }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'utils/pagination.html' %}

</div>
